/*.header{
}
a {
    text-decoration:none;
    color:#000000!important;
}
.logo {
    font-size:50px;
    margin:0 auto;
    text-align:center;*/
    /*border-bottom:1px solid #ccc;*/
/*}
.row {*/
    /*border-bottom: 1px solid #ccc;*/
/*}
.menu {
    margin: 10px;
    text-align: center;
}
.item-menu {
    display: inline;
    padding:5px;
    margin:10px;
}
.tp-title {
    background: linear-gradient(to bottom,#fff 50%,#ccc 50%,#ccc 51%,#fff 50%);
}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

    nav ul {
        display: block;
        list-style-type: none;
    }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
/*    justify-content: space-around;*/
}
.row_custom {
    display: block;
    align-items: center;
    flex-wrap: wrap;
    /*    justify-content: space-around;*/
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }

    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

    .btn:hover {
        background: #563434;
    }

.header {
    /*background: radial-gradient(#fff,#ffd6d6);*/
}

.header1 {
    background: radial-gradient(#fff,#ffd6d6);
}

    .header row {
        margin-top: 70px;
    }

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

    .col-3 img {
        width: 100%;
    }

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

    .col-4 img {
        width: 100%;
    }

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .title::after {
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}
/* --------- offer ---------- */
.offer {
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 35px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}
/* ------------------testimonial-------------- */
.testimonial {
    padding-top: 100px;
}

    .testimonial .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s;
        cursor: pointer;
    }

        .testimonial .col-3 img {
            width: 50px;
            margin-top: 20px;
            border-radius: 50%;
        }

        .testimonial .col-3:hover {
            transform: translateY(-10px);
        }

.fa.fa-qoute-lef {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/* ---------------brands-------------------- */
.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

    .col-5 img {
        width: 100%;
        cursor: pointer;
        filter: grayscale(100%);
    }

        .col-5 img:hover {
            filter: grayscale(0);
        }
/* ---------------footer------------ */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

    .footer p {
        color: #8a8a8a;
    }

    .footer h3 {
        color: #fff;
    }

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

    .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px;
    }

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

    .app-logo img {
        width: 140px;
    }

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* ---------------All Products Page------------------- */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

    select:focus {
        outline: none;
    }

.page-btn {
    margin: 0 auto 80px;
}

    .page-btn span {
        display: inline-block;
        border: 1px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }

        .page-btn span:hover {
            background: #ff523b;
            color: #fff;
        }

/* -- ---------- single Products detail ----------- -- */
.single-product {
    margin-top: 80px;
}

    .single-product .col-2 img {
        padding: 0;
    }

    .single-product .col-2 {
        padding: 20px;
    }

    .single-product h4 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }

    .single-product select {
        display: block;
        padding: 10px;
        margin-top: 20px;
    }

    .single-product input {
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1px solid #ff523f;
    }

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ffd800;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-rol {
    flex-basis: 24%;
    cursor: pointer;
}
/* -----------------cart item details------------------- - */
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: center;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

    td input {
        width: 60px;
        height: 30px;
        padding: 5px;
    }

    td a {
        color: #ff523b;
        font-size: 12px;
    }

    td img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

.total-price {
    display: flex;
    justify-content: flex-end;
}

    .total-price table {
        border-top: 3xp solid #ff523b;
        width: 100%;
        max-width: 350px;
    }

td:last-child {
    text-align: right;
}

.th:last-child {
    text-align: right;
}


/* -----------------------Account-page------------------ */

.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

    .form-container span {
        font-weight: bold;
        padding: 0 18px;
        color: #555;
        cursor: pointer;
        display: inline;
    }

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 90px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

    form .btn:focus {
        outline: none;
    }

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 80px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


/* --------------- Media query FOR menu -------------- */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

        nav ul li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        nav ul li {
            color: #fff;
        }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
/* --------------- Media query FOR less than 600 screen siza -------------- */
@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }
}


form .col-lg-6 {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-6 {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
form .col-lg-7 {
    position: relative;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
}
form .col-lg-3 {
    position: relative;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
form .col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
form .col-lg-8 {
    position: relative;
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}
form .col-lg-4 {
    position: relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-2 {
    position: relative;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-8 {
    position: relative;
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-3 {
    position: relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-10 {
    position: relative;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-4 {
    position: relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-1 {
    position: relative;
    width: 10%;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}
.card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-info {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}

/*---------------------*/
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-open {  
    /*overflow:hidden */
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.modal.show .modal-dialog {
    transform: none!important;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto!important;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e3e6f0;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #e3e6f0;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

/*page list*/

@media (min-width: 992px)
{
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 576px){
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.col-md-6 .col-lg-6 .col-xs-6 .col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
}

.text-right {
    text-align: right !important;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    list-style: none;
}
    .pagination > li {
        display: inline;
    }
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.pagination > li > a, .pagination > li > span {
    /*position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;*/
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    /*z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;*/
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: #ff523b;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    /* margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;*/
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    /*border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;*/
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
a {
 /*   color: #4e73df;*/
    text-decoration: none;
    background-color: transparent;
}
.pagination-container{
    padding: 20px 0;
    margin-left: 5px;
}