@using WebBanQuanAo.Models
@using WebBanQuanAo.DAL
@{ 
    WebBanHangContext db = new WebBanHangContext();
    List<Category> listcate = (List<Category>) Session["menu"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/Home/Home"><img src="~/images/logo.png" width="125px"></a>
                </div>
                <nav style="margin-top:5px;">
                    <ul id="MenuItems">
                        <li><a href="/Home/Home">Home</a></li>
                        @{
                            foreach (var item in listcate)
                            {
                                <li><a href="/Products/ListProduct/@item.IDCategory">@item.Description</a></li>
                            }
                        }
                        <li><a href="/Shopping/TraCuuDonHang">Tra cứu đơn hàng</a></li>
                    </ul>
                </nav>
                <div style="margin-right:15px; text-align:center;">
                    <a href="/Account/Account">
                        <img src="~/images/account.png" width="35px" height="35px" style="margin-bottom:-5px; width:30px; height: 30px;" />
                        @if (Session["idcusReview"] == null)
                        {
                            <p>Xin chào</p>
                        }
                        else
                        {
                            int id = int.Parse(Session["idcusReview"].ToString());
                            var cus = db.customer.Where(m => m.IDCus == id).FirstOrDefault();
                            <p>Hi! @cus.Name</p>
                        }
                    </a>
                </div>
                <a href="/Shopping/GioHang">
                    <img src="~/images/cart.png" width="30px" height="30px" style="margin-bottom:-4px; margin-left:15px;">
                    @Html.Action("BagCart", "Shopping")
                    <p>Giỏ hàng</p>
                    @*<span>0</span>*@
                </a>
                <img src="~/images/menu.png" class="menu-icon"
                     onclick="menutoggle()">
            </div>
            @*<div class="row">
                    <div class="col-2">
                        <h1>Give Your Workout<br> A New Style!</h1>
                        <p>
                            Success ins't always about greatness. It's about
                            consistency. Consistent <br>hard work gains success. Greatness
                            will come.
                        </p>
                        <a href="" class="btn">Explore Now &#8594;</a>
                    </div>
                    <div class="col-2">
                        <img src="~/images/image1.png">
                    </div>
                </div>*@
        </div>
    </div>

    @RenderBody()
    <!-- ------------footer----------- -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone</p>
                    <div class="app-logo">
                        <img src="~/images/play-store.png">
                        <img src="~/images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="~/images/logo-white.png">
                    <p>
                        Our Purpose Is To Sustainably Make the Pleasure and
                        Benefits of Sports Accessible to the Many
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube </li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2020 - By QuocHuy</p>
        </div>
    </div>
    <!-- ------------------- js for toggle menu-------------- -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }

    </script>
</body>
</html>
